[submodule "litebirdXS4-private"]
	path = litebirdXS4-private
	url = git@github.com:litebird/litebirdXS4-private.git
[submodule "s4mapbasedsims"]
	path = s4mapbasedsims
	url = https://github.com/CMB-S4/s4mapbasedsims.git
